@model IEnumerable<Timer.Core.Models.EmpresaDetalhes>;

@* @{
    Layout = null;
    var user = _httpContextAccessor.HttpContext.GetUser();
} *@

@if (Model.Any())
{
    <div class="card bg-light mb-3">
        <div class="card-header p-2 bg-light">
            <div class="row g-2 fw-bold">
                <div class="col-2">
                    <p class='mb-0'>Nome</p>
                </div>
                <div class="col">
                    <p class='mb-0'>Endereço Completo</p>
                </div>
                <div style="width: 75px;">
                    <p class='mb-0'>Complemento</p>
                </div>
                <div style="width: 75px;">
                    <p class='mb-0'>Situação</p>
                </div>
                <div style="width: 75px;"></div>
            </div>
        </div>
        @foreach (var empresa in Model)
        {
            <div class="card">
                <div class="card-header p-2">
                    <div class="row g-2">
                        <div class="col-2">
                            <p class='text-secondary mb-0 d-none d-md-block'>Nome</p>
                            <p class='mb-0'>@empresa.Empresa</p>
                        </div>
                        <div class="col">
                            <p class='text-secondary mb-0 d-none d-md-block'>Endereço Completo</p>
                            <p class='mb-0'>@empresa.Endereco, @empresa.Cidade, @empresa.Bairro, @empresa.Estado</p>
                        </div>
                        <div style="width: 125px;">
                            <p class='text-secondary mb-0 d-none d-md-block'>Telefone</p>
                            <p class='mb-0'>@empresa.Complemento</p>
                        </div>
                        <div style="width: 75px;">
                            <p class='text-secondary mb-0 d-none d-md-block'>Situação</p>
                            <!-- O código para exibir a situação fica aqui -->
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class='alert alert-warning text-center'>
        <p class="fw-bold">Nenhum registro encontrado.</p>
    </div>
}
