@model IEnumerable<Timer.Core.Models.EmpresaDetalhes>;

@{
    Layout = null;
    @* var user = _httpContextAccessor.HttpContext.GetUser(); *@
}

@if (Model.Any())
{
<div class="card bg-light mb-3">
    <div class="card-header p-2 bg-light">
        <div class="row g-2 fw-bold">
            <div class="col-md-3">
                <p class='mb-0'>Nome</p>
            </div>
            <div class="col-md-5">
                <p class='mb-0'>Endereço Completo</p>
            </div>
            <div class="col-md-2">
                <p class='mb-0'>Complemento</p>
            </div>
            <div class="col-md-2">
                <p class='mb-0'>Status</p>
            </div>
            <div style="width: 75px;">
            </div>
        </div>
    </div>
    @foreach (var empresa in Model)
    {
        <div class="card">
            <div class="card-header p-2">
                <div class="row g-2 align-items-center">
                    <div class="col-md-3">
                        <p class='text-secondary mb-0 d-none d-md-block'>Nome</p>
                        <p class='mb-0'>@empresa.Empresa</p>
                    </div>
                    <div class="col-md-5">
                        <p class='text-secondary mb-0 d-none d-md-block'>Endereço Completo</p>
                        <p class='mb-0'>@empresa.Endereco, @empresa.Cidade, @empresa.Bairro, @empresa.Estado</p>
                    </div>
                    <div class="col-md-2">
                        <p class='text-secondary mb-0 d-none d-md-block'>Complemento</p>
                        <p class='mb-0'>@empresa.Complemento</p>
                    </div>
                   <div class="col-md-1" style="text-align: center;">
                        <p class='text-secondary mb-0 d-none d-md-block'>Status</p>
                        <p class='mb-0' style="text-align: center;">
                            @(empresa.Status == 1 ?
                            Html.Raw("<i class='bi bi-check-circle-fill text-success' title='Ativo'></i>") :
                            (empresa.Status == 0 ? Html.Raw("<i class='bi bi-x-circle-fill text-danger' title='Inativo'></i>") : Html.Raw("")))
                        </p>
                    </div>
                    <div class="col-md-1" style="text-align: center;">
                        <a class="text-decoration-none"
                            href='@Url.Action("Editar", "Empresa", new { id = empresa.EmpresaId })' data-bs-toggle="tooltip"
                            title="Editar">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
}
else
{
    <div class='alert alert-warning text-center'>
        <p class="fw-bold">Nenhum registro encontrado.</p>
    </div>
}
